<%- model_class = Cadastro -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag(cadastros_path, :method => :get) do %>
<%= text_field_tag 'search', nil, placeholder: 'Pesquise o cliente aqui...' %>
<%= submit_tag "Pesquisar" %>
<% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:celular) %></th>
      <th><%= model_class.human_attribute_name(:criado_em) %></th>
      <th><%=t '.actions', :default => t("helpers.Ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cadastros.each do |cadastro| %>
      <tr>
        <td><%= link_to cadastro.id, cadastro_path(cadastro) %></td>
        <td><%= cadastro.nome %></td>
        <td><%= cadastro.email %></td>
        <td><%= cadastro.telefone %></td>
        <td><%= cadastro.celular %></td>
        <td><%=l cadastro.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.Editar")),
                      edit_cadastro_path(cadastro), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Excluir")),
                      cadastro_path(cadastro),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'O senhor(a) tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.Novo")),
            new_cadastro_path,
            :class => 'btn btn-primary' %>