<%- model_class = Cadastro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @cadastro.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @cadastro.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefone) %>:</strong></dt>
  <dd><%= @cadastro.telefone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:celular) %>:</strong></dt>
  <dd><%= @cadastro.celular %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.Voltar")),
              cadastros_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.Editar")),
              edit_cadastro_path(@cadastro), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.Excluir")),
              cadastro_path(@cadastro),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.Comfirmar", :default => 'O senhor(a) tem certeza?')) },
              :class => 'btn btn-danger' %>