<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <%= calendar_for @agendamentos, :year => @date.year, :month => @date.month do |t| %>
  <%= t.head('Domingo','Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado') %>
  <%= t.day do |day, agendamentos| %>
  <%= day.day %>
  <% agendamentos.each do |agendamento| %><br>
  <%= link_to h(agendamento.Nome), agendamento %><br>
  <% end %>
  <% end %>
  <% end %>
</div>
<center>

<h3><%= link_to "Novo agendamento", new_agendamento_path %></h3> 
</center>