<center><p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @agendamento.Nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @agendamento.Descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @agendamento.date %>
</p>

<%= link_to 'Editar', edit_agendamento_path(@agendamento) %> | <%= link_to 'Deletar', @agendamento, method: :delete, data: { confirm: 'O senhor(a) tem certeza?' } %> | <%= link_to 'Voltar', agendamentos_path %>
</center>