<% if admin_signed_in?%>
<br><br><br>
<center><h1>Bem vindo, <%= current_admin.email %></h1></center>
<br><br><br><br><hr>
 
	<ul>
		<center><h4>Se desejar se deslogar aperte em sair:</h4></center>
		<center><h2><%=button_to "Sair", destroy_admin_session_path, :method => :delete, :class=>"btn-warning"%></h2></center>
	</ul>
<% else %>
<div id ="login">
	<ul>
		<br><br><br>
		<center><h1>Bem vindo!!!</h1></center>
		<br><br><br><br><hr>

		<center><h4>Se já estiver cadastrado, por favor faça o login</h4></center>
		<center><h3><%=link_to "Logar", new_admin_session_path %></h3></center>
		<br><hr><br>
		<center><h4>Caso contrário, cadastre um novo adiministrador</h4></center>
		<center><h3><%=link_to "Cadastro de novo Admin", new_admin_session_path %></h3></center>
		<br><br>
		<hr>
	</ul>
</div>
<% end %>
